@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
	font-family: "Rubik", sans-serif;
}

.lbox {
	margin-top: 100px;
	margin-left: 300px;
	display: flex;
	flex-direction: column;
}
.coll2 {
	display: flex;
	flex-direction: column;
	margin-left: 410px;
}
.coll1 {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}

.input {
	border: 1px solid grey;
	width: 300px;
	height: 37px;
	font-size: 18px;
	padding: 1px 15px;
	border-radius: 5px;
	color: black;
}

.lginput {
	border: 1px solid grey;
	padding: 1px 15px;
	width: 710px;
	height: 37px;
	font-size: 18px;
	border-radius: 5px;
	color: black;
}

.add {
	color: #ea4235;
	border: 2px solid #ea4235;
}

hr {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	width: 1000px;
}

.sminput {
	border: 1px solid grey;
	width: 150px;
	height: 32px;
	font-size: 18px;
	border-radius: 5px;
	color: black;
	text-align: center;
}
.row1 {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: flex-start;
	padding: 20px;
	align-items: center;
}
.radio {
	background-color: #ea4235;
	color: #ea4235;
	margin: 8px;
	border: 1px solid #ea4235;
	height: 1.5em;
	width: 1.5em;
}
.continue1 {
	margin-left: 300px;
}
.pict {
	width: 440px;
	height: 180px;
	border: 1px solid black;
	border-radius: 8px;
	margin: 15px 50px;
}
.pict > img {
	width: 440px;
	height: 180px;
}
#photo-sec-s {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.row2 {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;
}
h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}
.locationtype {
	font-size: 20px;
	width: 300px;
	height: 48px;
}
.host {
	display: flex;
	flex-direction: column;
}
.lnav-menu {
	width: 300px;
	height: calc(100vh - 80px);
	top: 100px;
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	transition: 350ms;
}
.lnav-text {
	/* text-decoration: none; */
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding: 15px 20px;
	border-radius: 4px;
	background-color: white;
	border: none;
	margin-left: 60px;
	/* border-color: white; */
}

.lnav-text:hover:enabled {
	color: #ff6767;
}

.sel {
	color: #ff6767;
}

.lnav-menu-items {
	top: 30px;
	width: 100%;
	padding: 0;
}

.uploadImage {
	display: flex;
	width: 100%;
	height: 160px;
	border: dotted 2px grey;
	justify-content: center;
	align-items: center;
}
.inputD {
	display: none;
}

.options1 {
	border: solid 1px black;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	width: 200px;
	margin-left: 45px;
	margin-bottom: 5px;
}
.button1 {
	padding: 10px;
	border: solid 1px #ff6767;
	border-radius: 10px;
	cursor: pointer;
}
.optn {
	border: solid 1px black;
	padding: 10px;
	width: 280px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.optns {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.select {
	padding: 10px;
	width: 300px;
	border-radius: 5px;
}
.continue {
	align-items: center;
	padding: 12px 24px;
	width: 431px;
	height: 48px;
	background: #ea4235;
	border-radius: 4px;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

h1 {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 36px;
}
